In [6]:
# In python programmming a list start with [ and end with].
# Each elements of a list is separated by a ,.
# Element of a list is different.
#list indexing starts from 0
#In list negative addressing is possible

#list_1
list_1=[1,2,3,4,5]
print(list_1)
list_2=[1,2,3, "Nahid", "Rihun"]
print(list_2)
list_3=[1,2,3, 'Nahid', 'Rihun', 3.14]
print(list_3)

[1, 2, 3, 4, 5]
[1, 2, 3, 'Nahid', 'Rihun']
[1, 2, 3, 'Nahid', 'Rihun', 3.14]

In [29]:
#Access item from a list
list_5=[1,2,3,4,5,6,7,8,9]
print(list_5[0])
#Read all the value from a list
list_6=[1,2,3,4,5,6,7,8,9]
print(list_6[0:])
#Read all the value from a list except the last value
list_7=[1,2,3,4,5,6,7,8,9]
print(list_7[0:-1])
#Read the last value of a list
list_7=[1,2,3,4,5,6,7,8,9]
print(list_7[-1])
#range of indexing. From the following coding you can acces values from the index 2 to 5[Exclusing 5][Indexing is start from 0]
list_8=[1,2,3,4,5,6,7,8,9]
print(list_8[2:5])
#Indexing from beginning to a particular position. Start from 0
list_8=[1,2,3,4,5,6,7,8,9]
print(list_8[0:5])

1
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
9
[3, 4, 5]
[1, 2, 3, 4, 5]

In [26]:
#Add extra value at the next of the last position of a list.
list_4=[1,2,3,4,5,6,7,8,9]
print(list_4)
list_4.append(5)
print(list_4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [4]:
#Negetive indexing range
list_9=[1,2,3,4,5,6,7,8,9]
print(list_9)
list_9_negative_iindex=list_9[-4:-1]
print(list_9_negative_iindex)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 7, 8]

In [3]:
#Updating value or values of a list
list_10=[1,2,3,4,5,6,7,8,9]
print(list_10)
list_10[2:3]=[33,8]
print(list_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 33, 8, 4, 5, 6, 7, 8, 9]

In [7]:
#Updating value or values of a list
list_11=[1,2,3,4,5,6,7,8,9]
print(list_11)
list_11[0:2]=[33,8,"COCO"]
print(list_11)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[33, 8, 'COCO', 3, 4, 5, 6, 7, 8, 9]

In [13]:
#Basic lists operation
#Length operatin 
list_12=[1,2,3,4,5,6,7,8,9]
print(len(list_12))

9

In [17]:
#Basic lists operation
#Concatanation operatin 
list_13=[1,2,3,4,5,6,7,8,9]
list_14=["Nahid", "ECE", "CSE", "KU"]
list_15=list_13+list_14
print(list_15)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Nahid', 'ECE', 'CSE', 'KU']

In [21]:
#Basic lists operation
#Repetation  operatin 
list_16=[1,2,3,4,5,6,7,8,9]
#list_14=["Nahid", "ECE", "CSE", "KU"]
list_17=list_16*2
print(list_17)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#Basic lists operation
#Membership  operatin
list_18=[1,2,3,4,5,6,7,8,9]
10 in list_18
5 in list_18

True

In [28]:
#Basic lists operation
#Iterartion   operatin
list_19=[1,2,3,4,5,6,7,8,9]
for x in list_19:
    print(x)

1
2
3
4
5
6
7
8
9

In [36]:
#Basic lists operation
#Finding maximum value in a list
list_20=[1,2,3,4,5,6,7,8,9]
max(list_20)

9

In [38]:
#Basic lists operation
#Finding minimum value in a list
list_21=[1,2,3,4,5,6,7,8,9]
min(list_21)

1

In [42]:
#Basic list operation
#Converts a tuple into list.
tuple_1=(1,2,3,4,5,6,7,8,9)
print(tuple_1)
list_22=list(tuple_1)
print(list_22)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
#Basic list operation
#Pop data from list
list_24=[1,2,3,4,5,6,7,8,9]
print(list_24.pop(2))
#print(list_21[3])

3

In [56]:
#Basic list operation
#sort data of a list 
list_25=[1,2,3,4,5,6,7,8,9, 10, 4,6]
list_25.sort()
print(list_25)

[1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 10]

In [57]:
#Basic list operation
#Reversse data of a list 
list_25=[1,2,3,4,5,6,7,8,9, 10, 4,6]
list_25.reverse()
print(list_25)

[6, 4, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [62]:
#Basic list operation
#del operation
#delete whole list
list_26=[1,2,3,4,5,6,7,8,9, 10, 4,6]
del list_26
#print (list_26)

NameError: name 'list_26' is not defined

In [64]:
#Basic list operation
#clear  operation
#emty the list
list_27=[1,2,3,4,5,6,7,8,9, 10, 4,6]
list_27.clear()
print (list_27)

[]

In [70]:
#Basic list operation
#copy   operation
list_28=[1,2,3,4,5,6,7,8,9, 10, 4,6]
list_29=list_28
print(list_29)
list_30=list_29.copy()
print(list_30)
list_31=list(list_29)
print(list_31)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4, 6]

In [75]:
#Basic list operation
#Append two list  
list_32=[1,2,3,4,5,6,7,8,9]
list_33=['ECE','CSE','ARCHI', 'MATH','PHYSICS']
for i in list_33:
    list_32.append(i)
print(list_32)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ECE', 'CSE', 'ARCHI', 'MATH', 'PHYSICS']

In [78]:
#Basic list operation
#Append two list  
list_32=[1,2,3,4,5,6,7,8,9]
list_33=['ECE','CSE','ARCHI', 'MATH','PHYSICS']
j=0
for i in list_33:
    list_32[j]=i
    j=j+2
print(list_32)

['ECE', 2, 'CSE', 4, 'ARCHI', 6, 'MATH', 8, 'PHYSICS']